/* You can add global styles to this file, and also import other style files */
//@tailwind base;
//@tailwind components;
//@tailwind utilities;
//@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
}




